@use "../accessibility-demo.component.scss";
@use '../../../../node_modules/@ircc-ca/ds-sdc-core/util/device';

.body {
  max-width: 628px;
}
.buttons_container {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  max-width: 628px;

  @media (max-width: 525px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 116px;

    width: 100%;
    .btn1 {
      @media (max-width: 525px) {
        width: 100%;
      }
    }
    .btn2 {
      @media (max-width: 525px) {
        width: 100%;
      }
    }
  }
}