  <div class="page_container">
    <div class="save-button-container">
      <button class="save-btn" category="plain">
        <ircc-cl-lib-icon FA_keywords="fa-regular fa-arrow-left"></ircc-cl-lib-icon>Save and exit
      </button>
      <p class="secondary-text">Last saved 5 mins ago</p>
    </div>
    <h1 class="h5 secondary-text emphasis">Visitor visa application</h1>
    <div class="progress-container">
      <ircc-cl-lib-progress-indicator [config]="progConfig"></ircc-cl-lib-progress-indicator>
    </div>
    <div class="content">
      <div class="page-content">
        <div class="mh-container">
          <div class="error_banner" *ngIf="showErrorBanner" #errorBanner>
            <ircc-cl-lib-banner [config]="errorBannerConfig"></ircc-cl-lib-banner>
          </div>
          <h1>Reason for visit</h1>
          <p class="secondary-text">Select the visa you're applying for, and the reason you need it. Provide some details about how long you will stay in Canada and your plans while here.</p>
          <ircc-cl-lib-radio-input [config]="apply_multi_person_config"></ircc-cl-lib-radio-input>
          <p>For example, you want to apply for yourself, your spouse and children (whether they travel with you or join you later).</p>
          <ircc-cl-lib-banner [config]="error_apply_group_config" *ngIf="reasonForVisitForm.value['apply_multiple_person'] == 'Yes'"></ircc-cl-lib-banner>
          <ircc-cl-lib-radio-input [config]="apply_on_behalf_config"></ircc-cl-lib-radio-input>
          <p>To act as someone's representative, you must complete and submit a Use of a Representative [IMM 5476] form.</p>
          <ircc-cl-lib-banner [config]="error_apply_on_behalf_config" *ngIf="reasonForVisitForm.value['apply_on_behalf'] == 'Yes'"></ircc-cl-lib-banner>

          <!-- 
          <ircc-cl-lib-input [config]="poc_ime__c_config" *ngIf="medicalForm.value['poc_exam__c'] == 'Yes'"></ircc-cl-lib-input>
          <ircc-cl-lib-radio-input [config]="poc_dialysis__c_config"></ircc-cl-lib-radio-input>
          <ircc-cl-lib-radio-input [config]="poc_addiction__c_config"></ircc-cl-lib-radio-input>
          <ircc-cl-lib-radio-input [config]="poc_hospitalized__c_config"></ircc-cl-lib-radio-input>
          <ircc-cl-lib-radio-input [config]="poc_syphilis__c_config"></ircc-cl-lib-radio-input>
          <ul class="trailing-text">
            <li>Syphilis is a disease caused by bacteria and may also be known as lues, syph or pox.</li>
            <li>If you have a history of syphilis, it doesn't mean that you can't come to Canada. Once you complete your
              treatment, you can come to Canada.</li>
          </ul>
          <ircc-cl-lib-radio-input [config]="poc_syphilis_treated__c_config"></ircc-cl-lib-radio-input>
          <p class="trailing-text">Syphilis is treated with medication that is given as pills for 28 days or as 3 needles. The
            medications are called penicillin or doxycycline.</p>
          <h2>Tuberculosis</h2>
          <ul class="secondary-text">
            <li>Tuberculosis is a disease of the lungs caused by bacteria. It may also be known as TB, Potts disease, Koch's
              disease, scrofula, latent tuberculosis or extra-pulmonary tuberculosis.</li>
            <li>If you have a history of tuberculosis, it doesn't mean that you can't come to Canada. Once you complete your
              treatment, you can come to Canada.</li>
          </ul>
          <ircc-cl-lib-radio-input [config]="poc_tb_two__c_config"></ircc-cl-lib-radio-input>
          <ircc-cl-lib-radio-input [config]="poc_tb_five__c_config"></ircc-cl-lib-radio-input> -->
          <div class="nav-button-container">
            <button (click)="previousPage()" category="plain">
              <ircc-cl-lib-icon FA_keywords="fa-regular fa-arrow-left"></ircc-cl-lib-icon>Back
            </button>
            <button (click)="navButton()">Save and continue<ircc-cl-lib-icon FA_keywords="fa-regular fa-arrow-right">
              </ircc-cl-lib-icon></button>
          </div>
        </div>
      </div>
      <ircc-cl-lib-navigation></ircc-cl-lib-navigation>
    </div>
  </div>
