@use "../salesforce-demo.component.scss";
@use '../../../../node_modules/@ircc-ca/ds-sdc-core/util/device';

.mh-container {
  display: flex;
  flex-direction: column;

  ircc-cl-lib-radio-input, ircc-cl-lib-input {
    margin: 0 0 24px 0;
  }

  ircc-cl-lib-input {
    border-left: 4px solid var(--global-neutral-border, #868687);
    padding-left: 24px;
  }

  .trailing-bullets {
    margin-top: -12px;
  }
}

.secondary-text {
  color: var(--text-secondary);
}